/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.table thead th {
  text-align: center;
}

#awards > .awards-section {
  position: relative;
  width: 100%;
  background: url(../img/events/dcmp_2016.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#awards > .awards-section p {
  text-align: center;
}

#awards a:hover {
  color: white;
}

.awards-title {
  margin-top: 1.5em;
}

#about {
  text-align: center;
}

#about .row {
  position: relative;
}

/* Banner Code (From https://github.com/ErikBoesen/banners.css) */

@font-face {
  font-family: "Adam";
  src: url("../fonts/adam.otf") format("opentype");
  unicode-range: U+0000-00FF;
}

/* To be standard-compliant, this rule should be applied to *, but for compat it's restricted here. */

.banners,
.banners *,
.banner {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banners {
  display: block;
  height: 350px;
  padding: 0;
}

.banner-parent {
  overflow: hidden;
  width: 100dvw;
}

.banner-parent .banners {
  width: auto;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
}

.banners li,
.banner {
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 0 3px 100px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  white-space: normal;
  color: white;
  background: #0f4bcb;
  font-family: "Adam", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.banners img,
.banner img {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.banners li:after,
.banner:after {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  content: "";
  border: 100px solid #0f4bcb;
  border-top-width: 5px;
  border-bottom: 40px transparent solid;
}

.banners li,
.banners li:after,
.banner,
.banner:after {
  -webkit-filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.1));
}
