.container {
  display: grid;
  grid-template-columns: 1fr 20fr 20fr;
  justify-items: center;
  grid-gap: 1rem;
  overflow: hidden;
  --gap: 1rem;
  --line-offset: calc(var(--gap) / 2);
  --header-line-thickness: 2px;
  --line-thickness: 1px;
  --line-color: white;
}

.grid-item, .grid-item-header {
  position: relative;
}

.grid-item::before, 
.grid-item::after, .grid-item-header::after {
  content: '';
  position: absolute;
  background-color: var(--line-color);
  z-index: 1;
}

.grid-item::after {
  inline-size: 100vw;
  block-size: var(--line-thickness);
  inset-inline-start: -10rem;
  inset-block-start: calc(var(--line-offset) * -1);
}

.grid-item-header::after {
  inline-size: 100vw;
  block-size: var(--header-line-thickness);
  inset-inline-start: -10rem;
  inset-block-start: calc(var(--line-offset) * -1);
}
